@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --text-color: #d8dce4;
  --main-color: #087ec4;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Cambia el scrollbar del navegador */

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 5rem;
}

section {
  min-height: 100vh;
  padding: 7rem 9% 2rem;

}

span {
  color: var(--main-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: .6rem 9% .4rem;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: .3s;
}

.header.sticky {
  background-color: var(--bg-color);
}

.logo {
  position: relative;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--text-color);
}

.navbar {
  position: relative;
}

.navbar a {
  font-size: 1.6rem;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 3rem;
  transition: .5s;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

#menu-icon {
  position: relative;
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}

.home {
  display: flex;
  align-items: center;
  padding: 0 9%;
  background-image: url('../img/bgPhoto-right.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-content {
  max-width: 70rem;
  z-index: 99;
}

.home-content h1 {
  position: relative;
  display: inline-block;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 1rem;
}

.home-content .text-animate {
  position: relative;
  width: 32.8rem;
}

.home-content .text-animate h3 {
  font-size: 3.2rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: .8px var(--main-color);
  background-image: linear-gradient(var(--main-color), var(--main-color));
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: -33rem 0;
}

.home.show-animate .home-content .text-animate h3 {
  animation: homeBgText 6s linear infinite;
  animation-delay: 2s;
}

.home-content .text-animate h3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: .2rem solid var(--main-color);
  z-index: -1;
}

.home.show-animate .home-content .text-animate h3::before {
  animation: homeCursorText 6s linear infinite;
  animation-delay: 2s;
}

.home-content p {
  position: relative;
  font-size: 1.6rem;
  margin: 2rem 0 4rem;
}

.btn-box {
  position: relative;
  display: flex;
  justify-content: center;
  width: 20rem;
  height: 5rem;
}

.btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 5rem;
  height: 100%;
  background-color: var(--main-color);
  border: .2rem solid var(--main-color);
  border-radius: .7rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.btn-box .btn:hover {
  color: var(--main-color);
}

.btn-box .btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--bg-color);
  z-index: -1;
  transition: .5s;
}

.btn-box .btn:hover::before {
  width: 100%;
}

.home-sci {
  position: absolute;
  bottom: 8rem;
  width: 20rem;
  display: flex;
  justify-content: space-between;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: .2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.home-sci a:hover {
  color: var(--bg-color);
}

.home-sci a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--main-color);
  z-index: -1;
  transition: .5s;
}

.home-sci a:hover::before {
  width: 100%;
}

.home-imgHover {
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
  background-color: transparent;
  transition: 2s;
}

.home-imgHover:hover {
  background-color: var(--bg-color);
  opacity: .8;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: var(--second-bg-color);
  padding-bottom: 6rem;
}

.heading {
  position: relative;
  font-size: 4rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.about-img {
  position: relative;
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-img img {
  width: 90%;
  border-radius: 50%;
  border: .2rem solid var(--main-color);
}

.about-img .circle-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: .2rem solid var(--second-bg-color);
  border-bottom: .2rem solid var(--second-bg-color);
  border-left: .2rem solid var(--main-color);
  border-right: .2rem solid var(--main-color);
  transform: translate(-50%, -50%) rotate(0);
  animation: aboutSpinner 8s linear infinite;
}

.about-content {
  text-align: center;
}

.about-content h3 {
  position: relative;
  display: inline-block;
  font-size: 2.5rem;
}

.about-content p {
  max-width: 80%;
  display: inline-block;
  position: relative;
  font-size: 1.5rem;
  margin: 2rem 0 1rem;
}

.no-visible p,
.btn-box.btns.no-visible,
.history-sci.no-visible {
  display: none;
}

.visible p,
.btn-box.btns.visible {
  display: inline-block;
}

button {
  cursor: pointer;
}

.btn-box.btns {
  width: 20rem;
  display: inline-block;
  margin-top: 2rem;
}

.history-sci.visible {
  position: relative;
  width: 20rem;
  margin: 4rem auto 0;
  display: flex;
  justify-content: space-between;
}


.history-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: .2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.history-sci a:hover {
  color: var(--bg-color);
}

.history-sci a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--main-color);
  z-index: -1;
  transition: .5s;
}

.history-sci a:hover::before {
  width: 100%;
}

.education {
  max-width: 80%;
  min-height: auto;
  padding-bottom: 5rem;
  margin: 0 auto;
}

.education .education-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.education-column .education-box {
  position: relative;
  border-left: .2rem solid var(--main-color);
}

.education-box .education-content {
  position: relative;
  padding-left: 2rem;
}

.education-box .education-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: -1.1rem;
  width: 2rem;
  height: 2rem;
  background-color: var(--main-color);
  border-radius: 50%;
}

.education-content .content {
  position: relative;
  padding: 1.5rem;
  border: .2rem solid var(--main-color);
  border-radius: .6rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

.education-content .content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--second-bg-color);
  z-index: -1;
  transition: .5s;
}

.education-content .content:hover::before {
  width: 100%;
}

.education-content .content .year {
  font-size: 1.5rem;
  color: var(--main-color);
  padding-bottom: .5rem;
}

.education-content .content .year i {
  padding-right: .5rem;
}

.education-content .content h3 {
  font-size: 1.8rem;
}

.education-content .content p {
  font-size: 1.5rem;
  padding-top: .5rem;
}

.skills {
  min-height: auto;
  padding-bottom: 7rem;
  background-color: var(--second-bg-color);
}

.skills h2 {
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 2.2rem;
}

.skills .skills-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.skills-row .skills-column {
  flex: 1 1 40rem;
}

.skills-column .title {
  position: relative;
  display: inline-block;
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

.skills-column .skills-box {
  position: relative;
}

.skills-box .skills-content {
  position: relative;
  border: .2rem solid var(--main-color);
  border-radius: .6rem;
  padding: .5rem 1.5rem;
  overflow: hidden;
  z-index: 1;
}

.skills-box .skills-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--bg-color);
  z-index: -1;
  transition: .5s;
}

.skills-box .skills-content:hover::before {
  width: 100%;
}

.skills-content .progress {
  padding: 1rem 0;
}

.skills-content .progress h3 {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.skills-content .progress h3 span {
  color: var(--text-color);
}

.skills-content .progress .bar {
  height: 2.5rem;
  border-radius: .6rem;
  border: .2rem solid var(--main-color);
  padding: .5rem;
  margin: 1rem 0;
}

.skills-content .progress .bar span {
  display: block;
  height: 100%;
  border-radius: .3rem;
  background-color: var(--main-color);
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
  width: 90%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
  width: 85%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
  width: 70%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
  width: 80%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
  width: 85%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
  width: 90%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
  width: 90%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
  width: 90%;
}

.proyects {
  padding-bottom: 7rem;
}

.proyects h2 {
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
}

.proyects .proyects-content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.proyects .proyects-content .proyect {
  flex: 1 1 30rem;
  height: 25rem;
  position: relative;
  overflow: hidden;
  border: .2rem solid var(--main-color);
  border-radius: 1rem;
  background-color: var(--second-bg-color);
}

.proyects .proyects-content .proyect::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #112e42a1;
  overflow: hidden;
  z-index: 2;
  transition: 1s;
}

.proyects .proyects-content .proyect:hover::before {
  left: 100%;
}

.proyects .proyects-content .proyect img {
  height: 100%;
  width: 100%;
  border-bottom-right-radius: .8rem;
  object-fit: cover;
  position: relative;
  z-index: 1;
  transition: .5s;
}

.proyects .proyects-content .proyect:hover img {
  width: 87%;
  height: 87%;
}

.proyects .proyects-content .proyect h4 {
  position: absolute;
  bottom: .5rem;
  left: 1rem;
  font-size: 1.8rem;
  letter-spacing: .1rem;
  color: var(--text-color);

}

.proyects .proyects-content .proyect .iconos {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.proyects .proyects-content .proyect .iconos a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: var(--second-bg-color);
  border: .2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin-bottom: 1rem;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.proyects .proyects-content .proyect .iconos a:hover {
  color: var(--bg-color);
}

.iconos a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--main-color);
  z-index: -1;
  transition: .5s;
}

.iconos a:hover::before {
  width: 100%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 9%;
  background-color: var(--second-bg-color);
}

.footer-text,
.footer-iconTop {
  position: relative;
}

.footer-text p {
  font-size: 1.5rem;
}

.footer-iconTop a {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: .8rem;
  background-color: var(--main-color);
  border: .2rem solid var(--main-color);
  border-radius: .6rem;
  z-index: 1;
  overflow: hidden;
}

.footer-iconTop a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--bg-color);
  z-index: -1;
  transition: .5s;
}

.footer-iconTop a:hover::before {
  width: 100%;
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--bg-color);
  transition: .5s;
}

.footer-iconTop a i:hover {
  color: var(--main-color);
}

/* ANIMATION RELOAD AND SCROLL */

.animate {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  z-index: 95;
}

.animate.home-img {
  width: 50%;
}

.logo .animate,
.navbar .animate,
#menu-icon .animate,
.home.show-animate .animate {
  animation: showRight 1s ease forwards;
  animation-delay: calc(.3s * var(--i));
}

.animate.scroll {
  transition: 1s ease;
  transition-delay: calc(.3s / var(--i));
  animation: none;
}

section:nth-child(odd) .animate.scroll,
.footer .animate.scroll {
  background-color: var(--second-bg-color);
}

.education .education-box .animate.scroll {
  width: 105%;
}

.about.show-animate .animate.scroll,
.education.show-animate .animate.scroll,
.skills.show-animate .animate.scroll,
.proyects.show-animate .animate.scroll,
.footer.show-animate .animate.scroll {
  transition-delay: calc(.3s * var(--i));
  width: 0;
}



/* Media queries */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 990px) {
  .header {
    padding: 2rem 4%;
  }

  section {
    padding: 10rem 4% 2rem;
  }

  .home {
    padding: 0 4%;
  }

  .footer {
    padding: 2rem 4%;
  }
}

@media (max-width: 850px) {
  .animate.home-img {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .header {
    background-color: var(--bg-color);
  }

  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    padding: 1rem 4%;
    background-color: var(--main-color);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    z-index: 1;
    transition: .25s ease;
    transition-delay: .25s;
  }

  .navbar.active {
    left: 0;
    transition-delay: 0s;
  }

  .navbar .active-navbar {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    border-top: .1rem solid rgba(0, 0, 0, .2);
    z-index: -1;
    transition: .25s ease;
    transition-delay: 0s;
  }

  .navbar.active .active-navbar {
    left: 0;
    transition-delay: .25s;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    transform: translateX(-20rem);
    transition: .25s ease;
    transition-delay: 0s;
  }

  .navbar.active a {
    transform: translateX(0);
    transition-delay: .25s;
  }

  .home-imgHover {
    pointer-events: none;
    background-color: var(--bg-color);
    opacity: .6;
  }

  .home-sci {
    bottom: 4rem;
  }
}

@media (max-width: 520px) {
  html {
    font-size: 50%;
  }

  .home-content h1 {
    display: flex;
    flex-direction: column;
  }

  .home-sci {
    width: 20rem;
    bottom: 8rem;
  }

  .home-sci a {
    width: 3.8rem;
    height: 3.8rem;
  }
}

@media (max-width: 460px) {
  .home-content h1 {
    font-size: 5.2rem;
  }

  .home-sci {
    bottom: 8rem;
  }

  .education {
    padding: 10rem 4% 5rem 5%;
  }

  .proyects form .input-box .input-field {
    width: 100%;
  }

  .footer {
    flex-direction: column-reverse;
  }

  .footer p {
    margin-top: 2rem;
    text-align: center;
  }
}

@media (max-width: 370px) {
  .home {
    justify-content: center;
  }

  .home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .btn-box {
    justify-content: center;
  }

  .home-sci {
    bottom: 6rem;
  }
}

/* KEYFRAMES ANIMATION */
@keyframes homeBgText {

  0%,
  10%,
  100% {
    background-position: -33rem 0;
  }

  68%,
  85% {
    background-position: 0 0;
  }
}

@keyframes homeCursorText {

  0%,
  10%,
  100% {
    width: 0;
  }

  65%,
  78%,
  85% {
    width: 95%;
    opacity: 1;
  }

  75%,
  81% {
    opacity: 0;
  }
}

@keyframes aboutSpinner {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes showRight {
  100% {
    width: 0;
  }
}